# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.Python
env/
venv/
.venv/
ENV/
*.sqlite3

# === Jupyter notebook checkpoints
.ipynb_checkpoints/

# === VSCode ===
.vscode/
*.code-workspace

# === Go ===
/bin/
/obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# === Docker ===
*.log
Dockerfile*
docker-compose.yml
**/.env              # nếu bạn không muốn đẩy file .env lên GitHub
!example.env         # giữ lại file mẫu nếu có

# === OS files ===
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# === Build ===
dist/
build/
*.egg
*.bak
*.tmp
*.old
*.swp

# === Model files ===
*.pt
*.h5
*.ckpt
